@import "tailwindcss";
@plugin "daisyui";
a.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  font-weight: 500;
  color: blueviolet;
}
a.navbar-a {
    text-decoration: none;
}

aside.footer-a a {
    text-decoration: none;
}